{% extends "TiempoMapasBundle:BASE:base.html.twig" %}
{% block container %}
    <div  class="col-sm-10 form-group-lg" id="map" style="width:1024;height:600px;"></div>
{% endblock %}
{% block js %}
  <script>
    var locations = [
      {% for coordenada in coordenadas %}
        ['{{coordenada.titulo}}', {{coordenada.latitud}},{{coordenada.longitud}}, {{coordenada.id}}],
      {% endfor %}
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng({lat: -33.0633305, lng: -71.5311739}),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }

    </script>
    {#
   <script>
 

      var mapa = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -12.4724257, lng: -20.5492645}
      });
      
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      var markerCluster = new MarkerClusterer(mapa, markers,
        {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'}
      );

      var locations = [
        {% for coordenada in coordenadas %}
          {lat: {{coordenada.latitud}}, lng: {{coordenada.longitud}}},
        {% endfor %}
      ]

    </script>
    #}
      
{% endblock %}